extends layout

block content
  h1= title
  h3= hLicious
  p= weWill
  form(action="/submitted" method="post")
    input(type="textarea" name="unHipText" id="textBox" label="type your regular boring text here")
    input(type="submit" id="submitBtn" value='Hipstafy!')
    