extends layout

block content
  h1= title
  h3= hLicious
  p= weWill
  form(action="/submitted" method="post")
    textarea(name:'body', rows:200)
      `type your regular boring text here`
    input(type="submit", value='Hipstafy!')