extends layout

block content
  h1= title
  h3 How to be hipsta-licious
  p= weWill
      form(action="/foo/bar" method="post")
      input(type="text" name="level")
      input(type="text" name="emotion")
      input(type="submit")
